{%extends "base.html" %}

{% block title %} Trainix | Login {% endblock %}

{% block content %}
<body>
    <div class="LoginContainer">
        <h1>Login</h1>
        <form method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
{% endblock %}